<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://kenzanmedia.com/js/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  	<script src="http://kenzanmedia.com/js/kenzan.js" type="text/javascript"></script>

	<title>SoundScape One</title>

	<script type="text/javascript">
	  $('a').click(function(e)
		{
		    // Special stuff to do when this link is clicked...

		    // Cancel the default action
		    e.preventDefault();
		});
  </script>
</head>

