
<nav id="myNavbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sounds Scape One</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav" oncontextmenu="return false;">
                <li class="active"><a href="/" target="_blank">Home</a></li>
                <li><a href="/about/" target="_blank">About</a></li>
                <li><a href="/covers/" target="_blank">Covers</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content">
        <div class="content-area">