<!DOCTYPE html>
<html id="exp" lang="en">
<head>
    <title>Kenzan Media</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="css/kenzanHackNight.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='css/galleriffic.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/kenzanNavBarScript.js"> </script>
    <script src="js/headerScript.js"></script>
    <script type="text/javascript" src="js/jcarousel.min.js"></script>
    <script type="text/javascript" src="js/jcarousel.basic.js"></script>
    <script type="text/javascript" src="js/jcarousel.techRadar.js"></script>
    <script type="text/javascript" src="js/jcarousel.hackNightMobile.js"></script>
    <script type="text/javascript" src="js/jcarousel.hackNightGallery.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/gallery-modal.js"></script>
    <script type="text/javascript" src="js/galleriffic.js"></script>
    <script type="text/javascript" src="js/opacityrollover.js"></script>
    <script type="text/javascript" src="js/login.js"></script>    
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="header-container">
          <ul id="menu">  
              <a href="#intro" id='introSection'>
                <div class="logo">
                    <img src="imgs/kenzan.png"/>
                </div>
              </a>
              <li class="gitButton">
                  <a href="#git" id='gitSection'>Open Source</a>  
              </li>
              <li class="techRadarButton">
                  <a href="#techRadar" id='techRadarSection'>Tech Radar</a>
              </li>
              <li class="hackNightButton">
                  <a href="#hackNight" id='hackNightSection'>Hack Night</a>
              </li>
              <li class="login_form">
                <form name="f1" id="f1" onsubmit="login()">
              <table>
                  <tr>
                      <td class="f1_label">User Name :</td><td><input type="text" name="username" id="username" value="" />
                      </td>
                  </tr>
                  <tr>
                      <td class="f1_label">Password  :</td><td><input type="password" name="password" id="password" value=""  />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="submit" style="font-size:18px; " />
                      </td>
                  </tr>
              </table>
          </form>
              </li>
              <div class="mobileHide">
                <div id="logoNavBar"></div>
                <div id="gitNavBar"></div>
                <div id="techRadarNavBar"></div>
                <div id="hackNightNavBar"></div>
              </div>
          </ul>
      </div>
  </div>
</div>